# For all files that do not match any voting committee files
* @lancelot-c

# UMA.rocks first voting committee
/voting-rounds/*/1.json @UMA-rocks/voting-committee-1
/landing-pages/1.md @UMA-rocks/voting-committee-1
