# For all files that do not match any voting committee files
* @lancelot-c

# UMA.rocks first voting committee
/committees/1/metadata.json @UMA-rocks/voting-committee-1
/committees/1/presentation.md @UMA-rocks/voting-committee-1
/answers/*/1.json @UMA-rocks/voting-committee-1
